@using Bonzai.Blazor.Bootstrap.Documentation.Client.Pages.Examples.AccordionItemExamples

@page "/components/accordion"

<ComponentDoc Type="typeof(Accordion)"
              Description="An expandable/collapsable component for displaying content under different headers">
    <Properties>
        <ParameterDescription Name="@nameof(Accordion.AlwaysOpen)"
                              Type="@typeof(bool)">
            When set to true it allows multiple items to be expanded at one time.
        </ParameterDescription>
        <ParameterDescription Name="@nameof(Accordion.ChildContent)"
                              Type="@typeof(RenderFragment)">
            The child content of the accordion. This should only consist of <span class="bg-secondary bg-opacity-50">@nameof(AccordionItem)</span> components.
        </ParameterDescription>
        <AdditionalAttributes />
    </Properties>
</ComponentDoc>

<ExampleHeading />
<Example ExampleNumber="1">
    <Description>
        Simplest form where the Accordion is self contained and only the content is specified. The first item is open by default.
        For more complex examples please view the <a href="/components/accordion-item">AccordionItem</a> page.
    </Description>
    <LiveExample>
        <Basic />
    </LiveExample>
    <Code>
        @(@"<Accordion>
    <AccordionItem>
        <Header>This is item 1</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
    <AccordionItem>
        <Header>This is item 2</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
    <AccordionItem>
        <Header>This is item 3</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
</Accordion>")
    </Code>
</Example>

<Example ExampleNumber="2">
    <Description>
        Set <PropertyReference Name="@nameof(Accordion.AlwaysOpen)" /> to true to prevent auto-closing of individual items.
    </Description>
    <LiveExample>
        <AlwaysOpen />
    </LiveExample>
    <Code>
        @(@"<Accordion AlwaysOpen=""true"">
    <AccordionItem>
        <Header>This is item 1</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
    <AccordionItem>
        <Header>This is item 2</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
    <AccordionItem>
        <Header>This is item 3</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
</Accordion>")
    </Code>
</Example>

@code{
    breaking change
}