@using Microsoft.AspNetCore.Components.Web
@using Bonzai.Blazor.Bootstrap.Documentation.Client.Pages.Examples.AccordionItemExamples

@page "/components/accordion-item"

<ComponentDoc Type="typeof(AccordionItem)"
              Description="The individual item that expands and collapses in an accordion">
    <Properties>
        <ParameterDescription Name="@nameof(AccordionItem.Expanded)"
                              Type="@typeof(bool)">
            Controls whether or not the item is showing it's body content. true is open, false is closed.
        </ParameterDescription>
        <ParameterDescription Name="@nameof(AccordionItem.ExpandedChanged)"
                              Type="@typeof(EventCallback<bool>)">
            An action to excute when the value of expanded is changed.
        </ParameterDescription>
        <ParameterDescription Name="@nameof(AccordionItem.ButtonClicked)"
                              Type="@typeof(EventCallback<MouseEventArgs>)">
            A callback to execute when the header button of the accordion is pressed.
        </ParameterDescription>
        <ParameterDescription Name="@nameof(AccordionItem.Accordion)"
                              Type="@typeof(Accordion)">
            A reference to the parent Accordion class this item is a part of.
        </ParameterDescription>
        <RenderFragmentParam Name="@nameof(AccordionItem.Body)" />
        <StringParam Name="@nameof(AccordionItem.BodyClasses)">
            A classname for the body.
        </StringParam>
        <StringParam Name="@nameof(AccordionItem.BodyId)">
            The id for the body content. This will be generated if not specified.
        </StringParam>
        <RenderFragmentParam Name="@nameof(AccordionItem.Header)" />
        <StringParam Name="@nameof(AccordionItem.HeaderButtonClasses)">
            Any additional classes to add to the header button.
        </StringParam>
        <RenderFragmentParam Name="@nameof(AccordionItem.Header)" />
        <StringParam Name="@nameof(AccordionItem.HeaderId)">
            The id for the header. This will be generated if not specified.
        </StringParam>
        <AdditionalAttributes />
    </Properties>
    <Methods>
        <MethodItem TSource="AccordionItem"
                    MethodExpression="x => x.SetExpandedAsync(default)">
            <Description>
                Opens or closes the accordion item by updating the value of the <PropertyReference Name="@nameof(AccordionItem.Expanded)" />
                property.
            </Description>
            <Parameters>
                <MethodParameterItem Name="expanded"
                                     Type="typeof(bool)">
                    true to open the accordion, false to close it.
                </MethodParameterItem>
            </Parameters>
        </MethodItem>
        <MethodItem TSource="AccordionItem"
                    MethodExpression="x => x.SetStableStateStylesAndUpdateState()">
            <Description>
                Invoked from javascript when the css transitions complete
            </Description>
        </MethodItem>
    </Methods>
</ComponentDoc>
<ExampleHeading />
<Example ExampleNumber="ExampleNumber">
    <Description>
        Bind to the <PropertyReference Name="@nameof(AccordionItem.Expanded)" /> property to open and close the accordion.
    </Description>
    <LiveExample>
        <BindExpandedProperty />
    </LiveExample>
    <Code>
        @(@"<Row>
    <Column class=""mb-2"">
        <Button Variance=""primary"" onclick=""ButtonClick"">
            @ButtonText Item 1
        </Button>
    </Column>
</Row>
<Accordion>
    <AccordionItem @bind-Expanded=""ExpandItem1"">
        <Header>This is item 1</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
    <AccordionItem>
        <Header>This is item 2</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
    <AccordionItem>
        <Header>This is item 3</Header>
        <Body>
            ...
        </Body>
    </AccordionItem>
</Accordion>

@code {
    private bool ExpandItem1 { get; set; }

    private string ButtonText => ExpandItem1
        ? ""Close""
        : ""Open"";

    private void ButtonClick()
    {
        ExpandItem1 = !ExpandItem1;
    }
}")
    </Code>
</Example>
@code {
    private int _exampleNumber;

    private int ExampleNumber
    {
        get
        {
            return ++_exampleNumber;
        }
    }
}