@inherits BootstrapComponentBase

<div @attributes="AdditionalAttributes" class="@Classes">
    <h2 class="accordion-header @HeaderClasses"
        id="@HeaderId">
        <button class="@AllButtonClasses"
                type="button"
                aria-expanded="@Expanded.ToString().ToLower()"
                aria-controls="@BodyId"
                @onclick=AccordionButtonClick>
            @Header
        </button>
    </h2>
    <Collapse class="@ExpandableClasses"
              id="@BodyId"
              aria-labelledby="@HeaderId"
              Collapsed="!Expanded">
        <div class="accordion-body">
            @Body
        </div>
    </Collapse>
</div>

@code {

}